<section>
  <div class="profile-name">
    <h3>SOBRE MIM</h3>
    <H1>Joaci Cabral</H1>
  </div>
  <img src="assets/images/profile.jpg" alt="Fotografia: perfil de Joaci Cabral, autor do curso">
  <p>
    Desde cedo interessado em finanças e psicologia do investidor, encontrou nas Finanças Comportamentais o caminho para
    seus estudos.
    Motivado a contribuir para políticas públicas, pesquisa o impacto da educação financeira na previdência
    complementar, buscando aproximar a população do mercado financeiro.
    Atualmente, aprimora seus conhecimentos em Macroeconomia e Finanças com foco em Análise Quantitativa, e vê no
    empreendedorismo inovador e sustentável um meio de reduzir as desigualdades sociais.
  </p>
</section>
