@import "../../../styles.scss";

:host {
  width: 100%;
  background: $dark-green;
  display: flex;
  justify-content: center;
}

section {
  max-width: 1200px;
  height: 450px;
  width: 100%;
  display: flex;

  .text {
    padding: 0 2rem;
    height: 100%;
    color: #FFF;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .photo-container {
    margin-left: -5rem;
    position: relative;
    height: 100%;
    .photo-bg {
      height: 100%;
      mask-image: linear-gradient(to right, transparent, black, black, transparent);
      opacity: 0.2;
    }
    .photo {
      position: absolute;
      bottom: 0;
      right: 30%;
      filter: sepia(50%);
      opacity: 0.9;
    }
  }
}
