<section>
  <!-- <h1 class="title">
    Descubra como sair do caos financeiro de forma definitiva, mesmo que você
    tenha dívidas ou não tenha renda fixa
  </h1> -->
  <div class="form-container">
    <p class="subtitle">
      Passo a passo prático para quem quer fazer o dinheiro sobrar para investir e
      realizar seus sonhos.
    </p>
    <form>
      <div class="form-field">
        <label for="nome">Seu nome:</label>
        <input type="text" id="nome" name="nome" required />
      </div>
      <div class="form-field">
        <label for="email">Seu email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-field">
        <label for="telefone">Seu telefone:</label>
        <input type="tel" id="telefone" name="telefone" required />
      </div>
      <button type="submit" class="submit-button">
        QUERO DOMINAR MINHAS FINANÇAS
      </button>
    </form>
  </div>
  <div class="photo-container">
    <!-- <img class="background-image" src="assets/images/sustainable-money.jpg" alt=""> -->
    <img class="photo" src="assets/images/landing-photo.png" alt="">
  </div>
</section>
