<section>
  <div class="profile-name">
    <h3>SOBRE MIM</h3>
    <H1>Joaci Cabral</H1>
  </div>
  <img src="assets/images/profile.jpg" alt="Fotografia: perfil de Joaci Cabral, autor do curso">
  <p>
    Mestre em Macroeconomia e Finanças (Universidade Federal Fluminense - UFF) e graduado em Economia (UFRRJ) com especialização em gestão de tomada de decisão sob risco, é professor, palestrante. Apaixonado por finanças e psicologia do investidor, encontrou nas Finanças Comportamentais o caminho para seus estudos. Motivado a contribuir por meio da sua pesquisa na formação de políticas públicas para medir o efeito da educação financeira na previdência complementar, buscando aproximar a população do mercado financeiro. Atualmente, aprimora seus conhecimentos em estudos que visam reduzir o impacto das emissões de gases estufa no meio ambiente, vendo no empreendedorismo inovador e sustentável um meio de reduzir as desigualdades sociais.
  </p>
</section>
