<form
  name="lead"
  netlify
  netlify-honeypot="bot-field"
  [formGroup]="leadForm"
  (ngSubmit)="onSubmit()"
  class="lead-form"
>
  <input type="hidden" id="name" name="form-name" value="lead" />
  <input type="hidden" name="bot-field" />

  <div class="lead-form__row">
    <div class="lead-form__field">
      <label>Nome *</label>
      <input type="text" formControlName="name" name="name" />
    </div>

    <div class="lead-form__field">
      <label>Email *</label>
      <input type="email" formControlName="email" name="email" />
    </div>
  </div>

  <div class="lead-form__row">
    <div class="lead-form__field">
      <label>Telefone *</label>
      <input
        type="text"
        formControlName="phone"
        name="phone"
        mask="(00) 00000-0000"
        placeholder="(00) 00000-0000"
      />
    </div>

    <div class="lead-form__field">
      <label>Como nos conheceu? *</label>
      <select formControlName="source" name="source">
        <option value="" disabled>Selecione</option>
        @for (src of sources; track $index) {
        <option [value]="src">{{ src }}</option>
        }
      </select>
    </div>
  </div>

  <button class="lead-form__submit" [disabled]="!leadForm.valid" type="submit">
    QUERO ENTRAR NA LISTA VIP
  </button>
</form>

<form name="lead" netlify netlify-honeypot="bot-field" hidden>
  <input type="hidden" name="form-name" value="lead" />
  <input type="text" name="name" />
  <input type="email" name="email" />
  <input type="text" name="phone" />
  <input type="text" name="source" />
</form>
