@import "../../../../../../styles.scss";

.card {
  padding: 0.5rem;
  max-width: 280px;
  background: $dark-green;
  border-radius: 0.6rem;
  color: #ffffff;
  &__header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    img {
      max-width: 32px;
    }
    h3 {
      & :first-child {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      & :not(:first-child) {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
  &__body {
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-align: justify;
  }
}
