@import "../../../../../styles.scss";

:host {
  position: relative;
  padding: 4rem 0;
  background: $nyanza;
  display: flex;
  justify-content: center;
}

section {
  padding: 0 2rem;
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: $dark-green;
  h2 {
    flex: 2;
    font-weight: 100;
    max-width: 400px;
    text-align: center;
    line-height: 3rem;
    strong {
      font-weight: 700;
    }
  }
  .cards-container {
    flex: 1;
    width: fit-content;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
