<app-subscribe-button></app-subscribe-button>

<section>
  <div class="text-container">
    <h2>O preço da ignorância</h2>

    <p>
      Você sabia que a maior parte da população brasileira
      enfrenta dificuldades com dívidas?
    </p>

    <p>
      Não deixe que a falta de conhecimento financeiro limite suas conquistas.
      Invista em você e construa um futuro próspero!
    </p>
  </div>
  <div class="chart-container">
    <canvas id="MyChart"></canvas>
  </div>
  <img
    src="https://images.pexels.com/photos/26743057/pexels-photo-26743057/free-photo-of-homem-sombrio-escuro-de-pe.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="Ilustração de plano de fundo: pessoa presa">
</section>
