@import "../../../styles.scss";

:host {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  padding: 5rem 0;
  position: relative;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  background: none;

  .text-container {
    max-width: 640px;
    text-align: center;
    color: $dark-green;
    flex: 1;

    :last-child {
      color: $dark-green;
      font-weight: 600;
    }

    h2 {
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: 700;
      color: $dark-green;
    }

    p {
      font-size: 1.2rem;
      line-height: 2rem;
      margin-bottom: 1.5em;
      color: $brunswick-green;
    }
  }

  .chart-container {
    flex: 1;
  }

  img {
    height: 100%;
    z-index: -1;
    position: absolute;
    mask-image: linear-gradient(to right, transparent, black, black, transparent);
    opacity: 0.2;
  }
}
